{% extends "DonkeyCodePmiBundle:Pmi:layout.html.twig" %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> {{ table }}
        </div>
        <div class="card-body">
            <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Type</th>
                    <th>Null</th>
                    <th>Key</th>
                    <th>Default</th>
                    <th>Extra</th>
                </tr>
            </thead>
            <tbody>
                {% for field in schema %}
                <tr>
                    <td>{{ field['Field'] }}</td>
                    <td>{{ field['Type'] }}</td>
                    <td>{{ field['Null'] }}</td>
                    <td>{{ field['Key'] }}</td>
                    <td>{{ field['Default'] }}</td>
                    <td>{{ field['Extra'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

            <a href="{{ path('pmi_table_select', { table: table }) }}" class="btn btn-primary">SELECT</a>
        </div>
        </div>
    </div>
<!--/.col-->
</div>
<!--/.row-->

{% endblock body %}
